html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #1296DF;
  color: #999;
  font-family: "Courier New", courier, monospace;
}

#letter h1 {
  width: 50%;
  margin: auto;
  margin-bottom: 0.5em;
  color: rgb(241,241,241);
  font-size: 3.25em;
}

#letter p {
  color: rgb(241,241,241); 
  width: 50%;
  margin: auto;
  font-size: 20px;
  line-height: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
}

footer {
  padding: 1em 0;
  font-size: 0.75rem;
}

.copyright {
  padding-bottom: 1em;
  color: rgb(241, 241, 241);
  text-align: center;
}

.copyright a {
  color: rgb(195, 195, 195);
}